<div class="side-nav-main" [ngClass]="collapsed?'sidenav-collapsed':''">
    <div class="insta-logo-div">
        <img src="../../../../assets/Images/insta_logo_2.png" alt="" class="insta-logo">
    </div>
    <div class="side-for-div">
        <div class="home-div" (click)="sideClick('home')" routerLink="/side-nav" routerLinkActive="active">
            <i class="bi bi-house-door icon" *ngIf="router.url!='/side-nav' || collapsed || createAndProfileClick"></i>
            <i class="bi bi-house-door-fill icon" *ngIf="router.url=='/side-nav' && !collapsed && !createAndProfileClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed" [ngStyle]="{'font-weight':router.url=='/side-nav' && !collapsed && !createAndProfileClick?'500':'400'}">Home</p>
        </div>
        <div class="search-div" (click)="sideClick('search')">
            <i class="bi bi-search-heart icon" *ngIf="!searchClick"></i>
            <i class="bi bi-search-heart-fill icon" *ngIf="searchClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed">Search</p>
        </div>
        <div class="explore-div" routerLink="/explore" routerLinkActive="active" (click)="sideClick('explore')">
            <i class="bi bi-compass icon" *ngIf="router.url != '/explore' || collapsed || createAndProfileClick"></i>
            <i class="bi bi-compass-fill icon" *ngIf="router.url == '/explore' && !collapsed && !createAndProfileClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed" [ngStyle]="{'font-weight':router.url=='/explore' && !collapsed && !createAndProfileClick?'500':'400'}">Explore</p>
        </div>
        <div class="reels-div" routerLink="/reels" routerLinkActive="active" (click)="sideClick('reels')">
            <i class="bi bi-camera-video icon" *ngIf="router.url != '/reels' || collapsed || createAndProfileClick"></i>
            <i class="bi bi-camera-video-fill icon" *ngIf="router.url == '/reels' && !collapsed && !createAndProfileClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed" [ngStyle]="{'font-weight':router.url=='/reels' && !collapsed && !createAndProfileClick?'500':'400'}">Reels</p>
        </div>
        <div class="messages-div" routerLink="/messages" routerLinkActive="active" (click)="sideClick('message')">
            <i class="bi bi-chat-heart icon" *ngIf="router.url != '/messages' || collapsed || createAndProfileClick"></i>
            <i class="bi bi-chat-heart-fill icon" *ngIf="router.url == '/messages' && !collapsed && !createAndProfileClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed" [ngStyle]="{'font-weight':router.url=='/messages' && !collapsed && !createAndProfileClick?'500':'400'}">Messages</p>
        </div>
        <div class="notification-div" (click)="sideClick('notify')">
            <i class="bi bi-heart icon" *ngIf="!notificationClick"></i>
            <i class="bi bi-heart-fill icon" *ngIf="notificationClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed">Notifications</p>
        </div>
        <div class="create-div" (click)="sideClick('create')">
            <i class="bi bi-plus-square icon" *ngIf="!createClick"></i>
            <i class="bi bi-plus-square-fill icon" *ngIf="createClick"></i>
            <p class="side-nav-label" *ngIf="!collapsed" [ngStyle]="{'font-weight':!collapsed && createClick?'500':'400'}">Create</p>
        </div>
    </div>
    <div class="profile-div" routerLink="/profile" routerLinkActive="profile-name-active">
        <img src="../../../../assets/Images/profile.jpg" routerLink="/profile" routerLinkActive="profile-active" alt="" class="side-profile">
        <p class="profile-name" *ngIf="!collapsed">Profile</p>
    </div>
    <div class="more-div">
        <i class="bi bi-list menu-icon icon"></i>
        <p class="side-nav-label" *ngIf="!collapsed">More</p>
    </div>
</div>