<div class="main-div">
    <div class="con">
        <div class="insta-icon-div container">
            <div class="logo-div">
                <img src="../../../../assets/Images/insta_logo_2.png" alt="insta logo" class="insta-logo">
            </div>
        </div>
    </div>
    <div class="forgot-form-div">
        <div class="container forgot-main">
            <div class="forgot-icon-div">
                <img src="https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png" alt="" class="forgot-icon">
            </div>
        </div>
    </div>
</div>
