.insta-logo{
    width: 100px;
}
.con{
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 15px;
}
.insta-icon-div{
    width: 73%;
}
.forgot-main{
    border: 1px solid rgb(219, 219, 219);
}
.forgot-icon-div{
    width: 400px; 
    height: 300px;
}
.forgot-icon{
    width: 100%;
  height: 100%;
//   background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  zoom: 75%;
}