<div class="main-div">
    <div class="con">
        <div class="insta-icon-div container">
            <div class="logo-div">
                <img src="../../../../assets/Images/insta_logo_2.png" alt="insta logo" class="insta-logo">
            </div>
        </div>
    </div>
    <div class="forgot-form-div">
        <div class="container forgot-main">
            <div class="reset-div">
                <div class="forgot-icon-div">
                    <div class="lock-div">
                        <i class="bi bi-lock lock-icon"></i>
                    </div>
                    <!-- <img src="https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png" alt="" class="forgot-icon"> -->
                </div>
                <p class="trouble-text">Trouble logging in?</p>
                <p class="enter-text">Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
                <form>
                    <input type="text" class="form-control input-box" placeholder="Email, Phone or Username">
                    <button class="btn send-btn mt-3">Send login link</button>
                </form>
                <p class="mt-3 cant-reset-btn">Can't reset your password?</p>
                <div class="or-div my-5">
                    <div class="line-div"></div>
                    <div class="or-text mx-2">OR</div>
                    <div class="line-div"></div>
                </div>
                <p class="font-weight-class" routerLink="/sign-up">Create a new account</p>
            </div>
            
            <div class="back-login-div">
                <p class="back-text font-weight-class" routerLink="">Back to login</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
