<div class="top-div">
    <div class="main-div">
        <div class="footer-content">
            <p>Meta</p>
        </div>
        <div class="footer-content">
            <p>About</p>
        </div>
        <div class="footer-content">
            <p>Blog</p>
        </div>
        <div class="footer-content">
            <p>Jobs</p>
        </div>
        <div class="footer-content">
            <p>Help</p>
        </div>
        <div class="footer-content">
            <p>API</p>
        </div>
        <div class="footer-content">
            <p>Privacy</p>
        </div>
        <div class="footer-content">
            <p>Terms</p>
        </div>
        <div class="footer-content">
            <p>Top Accounts</p>
        </div>
        <div class="footer-content">
            <p></p>
        </div>
        <div class="footer-content">
            <p>Locations</p>
        </div>
        <div class="footer-content">
            <p>Instagram Lite</p>
        </div>
        <div class="footer-content">
            <p>Contact Uploading & Non-Users</p>
        </div>
    </div>
    <div class="copyright-div">
        <div class="translate-div">
            <p class="translate-text">English</p>
            <i class="bi bi-chevron-down"></i>
        </div>
        <div class="copy-text-div">
            <p>&#169;&nbsp;2023 Instagram from Meta</p>
        </div>
    </div>    
</div>